@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');


.card-columns {
    column-count: 3;
}

.nav_button {
    padding-left: 40;
}

.card-body{
    align-content: center;
}


p, li {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h5 {
    font-family: 'Raleway', sans-serif;
}