{% extends "header.html" %}

{% block body %}
<div class="container" >
    <hr>
<h1 style="text-align:center;">About Approachable Art</h1>
    <hr>
    <p> Welcome to Approachable Art! This web app was created to aid the average joe in learning about the wonderful world of art and its history. Looking through our galleries, you will be taken on an adventure from France in the Baroque period to Italy in the Classic period and beyond. Whether you’re learning for pleasure or learning to impress your boss, we have info for you.</p>

    <p> Approachable Art is the brainchild of Olivia Coghe, a student at Penn State Behrend. Olivia is a double major in Digital Media, Art, and Technology as well as Arts Administration. Approachable Art was a way for her to combine her various passions into one. She feels that no art should be inaccessible and that everyone should enjoy the art's many beauties and stories.</p> 

    <p> Olivia personally curates each gallery with information and accompanying photos. She encourages the breaking down of this often perceived harsh discourse.</p> 

    <p> The aim of this project is to provide easy, accessible art lessons that efficiently teach the main concepts of each topic in a short amount of time.</p> 
</div>

{% endblock %}