{% extends "header.html" %}

{% block body %}
<div class="container" >
    <hr>
<h1 style="text-align:center;">About Approachable Art</h1>
    <hr>
    <p> Welcome to Approachable Art! This web app was created to aid the average joe in learning about the wonderful world of art and its history. Browsing our galleries, you will be taken on an adventure from France in the Baroque period to Italy in the Renaissance period and beyond. Whether you’re learning for pleasure or cramming to impress your boss, we have the information for you.</p>

    <p> Approachable Art is the brainchild of Olivia Coghe, a student at Penn State Behrend. Olivia is a double major in Digital Media, Art, and Technology as well as Arts Administration. Approachable Art has been a way for her to combine her various passions including art, programming, and education. She firmly believes that no art should be out of reach and that everyone should have the opportunity to enjoy art’s many beauties and stories.</p> 

    <p> Olivia personally curates each gallery with information and accompanying photos. She encourages the breaking down of the seemingly foreign discourse we often encounter in the art world.</p> 

    <p>The aim of this project is to provide simple, accessible art lessons that quickly and efficiently teach the main concepts of a given topic to our aspiring learners.</p> 
    
    <p>The future steps of Approachable Art will include adding the ability for personalization of profile pages as well as a social sharing aspect. The hope is that this website will serve as a community to those who want to learn. Community members will be able to interact with one another, talk about what art means or challenge ideas of art history. It will serve as a place to share what one is learning about and comment on what art piece is their favorite. Eventually, people can check into different states or cities and be able to see art galleries, museums, and pieces nearby. The mission is to create an approachable space, a social learning environment. 

    These parts of the application will only be accessible through becoming a member and creating a login. </p>
    
    <p>This application was created using Python, HTML, and jQuery and for the purpose of learning how to create a functional website that benefits society in some way. To learn more about the technical creation of this app, visit this google slideshow. </p>
    
    <a href="https://docs.google.com/presentation/d/1wnX81QCshs7UYbDOKDeFJoYo4_kB3Eb2aaJ1ZgymOFU/edit?usp=sharing"> About Slides</a>
</div>

{% endblock %}