{% extends "header.html" %}

{% block body %}
<div class="container" >
    <hr>
<h1 style="text-align:center;">Ansel Adams</h1>
    <h2 style="text-align: center">The American Photographer</h2>
    
    <div style="text-align: center">
    <img src="{{ url_for('static', filename='images/ansel adams.jpg') }}" width="auto" height="auto">
    </div>
    <hr>
    
    <p>Ansel Adams was an American photographer well known for his black and white photos of the American West Landscape. Adams found joy in nature, being from the American west coast, he was surrounded by natural beauty and was a well-known environmentalist later in life.</p>

    <p>The first camera Adams used was the Kodak No. 1 Box Brownie, which he used while on many trips to Yosemite National Park. Adams was wildly talented not only in photography but also music and writing. While he chose photography overall, his time playing piano taught Adams substance, discipline, and structure that poured over into his other work. </p>

    <p>When Adams got older, he joined The Sierra Club, an environmental organization in the US founded by John Muir, another environmentalist. This club was very important for his early successes as a photographer. The bulletin for the club is where his first photographs were published. This led to his first exhibition at the San Francisco headquarters of the club. </p>

    <hr>
    <p>To learn more about Cubism, you can visit these other gallery lessons: Photography, Black and White, Nature </p>
    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    

    <a href="http://anseladams.com/ansel-adams-bio/ ">Ansel Adams</a>
<br>
    <a href="https://www.artsy.net/artist/ansel-adams">Artsy</a>
<br>
    <a href="https://www.britannica.com/biography/Ansel-Adams-American-photographer "> Britannica</a>
    
</div>
{% endblock %}