{% extends "header.html" %}

{% block body %}  

<style>
    iframe {
   display: block;
   margin: 0 auto;
}
</style>

<div class="container" >
    <hr>
<h1 style="text-align:center">Bob Ross</h1>
    <h2 style="text-align: center">Happy Little Trees</h2>
    
    
    <div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VlucWfTUo1A" frameborder="15em" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div style="text-align: center">
    
    </div>
    
    <hr>
    
    <p>Robert Norman Ross, more commonly known as Bob Ross, was an American painter, art instructor, and television host. He was the creator and host of the TV show, The Joy of Painting. </p>

    <p>During his show, he instructed viewers how to oil paint. This is a perfect example of the saying “anyone can do art.” While his shows were informational, they were also soothing to watch for the viewer. (My mother used to put this on when I was a baby, I would be out like a light.)</p> 

    <p>Many of Bob’s paintings consisted of landscapes with grand mountains, dense foliage and trees, and cloudy skies. His technique is known as wet-on-wet oil painting and was popular with other well-known artists like Caravaggio, Cezanne, and Monet. He used a variety of sized brushes as well as palette knives to get the paint on the canvas. </p>

    <p>While Bob would paint, he would talk to his viewers about life, as well as painting. He wove themes of living into the way a painting happens. He became well known for his catchphrases like “happy little trees” and “there are no mistakes, only happy accidents.”</p>

    <p>What many people don’t know about Bob is that he served in the US Air-force for 20 years, and stationed in Anchorage, Alaska. This was when he started to develop a liking towards painting. This time in Alaska is shown through the themes and settings of his paintings during his air on TV. </p>

    <hr>
    <p>To learn more about Wet-on-wet painting, you can visit these other gallery lessons: Impressionism, Monet  </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    

    <a href="https://www.bobross.com">Bob Ross Official Website</a>
<br>
    <a href="https://www.artsy.net/article/artsy-editorial-bob-ross-everyones-favorite-art-teacher">Bob Ross Article, Artsy</a>
<br>
   
</div>

{% endblock %}