{% extends "header.html" %}

{% block body %}
<div class="container" >
    <hr>
<h1 style="text-align:center;">Color Theory</h1>
     <h2 style="text-align: center">What is color theory?</h2>
    
    <div style="text-align: center">
    <img src="{{ url_for('static', filename='images/color wheel.png') }}" width="auto" height="auto">
    </div>
    
    <hr>
    
    <p>Color theory is defined as “a body of practical guidance to color mixing and the visual effects of a specific color combination.” Basically, this just means certain colors mix together certain ways, and certain colors go better with others in design. To understand color theory, all you need to know are a few terms and what they mean! </p>

    <ul>
        <li>Hue – what color the color is, or red is red, blue is blue, etc. </li>

        <li>Saturation – Intensity of color, color with no saturation is just gray</li> 

        <li>Lightness – how bright or dark a color is or how much white or black you add into the color, this can also be split up into tints and shades, this doesn’t affect hue or saturation</li> 
        <ul>
            <li>Darker – shade</li> 
            <li>Lighter – tint</li>
        </ul>
    </ul>

    <p>Fundamental Color Groups – color ‘schemes’ or groups and how they interact with one another </p>
<ul>
    <li>Monochromatic – different tints and shades of one color, basically pink, red, and dark red</li> 

    <li>Analogous – the three colors next to another on the color wheel, an example of this is yellow, orange, and red</li>

    <li>Complementary – colors opposite each other on the color wheel like orange and blue, green and red, as well as yellow and purple </li>

    <li>Triadic – essentially, making a triangle on the color wheel, which is orange, green, purple </li>
    </ul>

    <p>Colors also have meaning and emotion, they can make people feel certain things. Color and emotion are often considered when making advertisements. </p>

<ul>
    <li>Red – passion/danger</li>
    <li>Orange – energy/ creativity</li>
    <li>Yellow – happy/active</li> 
    <li>Black – death/ power</li> 
    <li>Green – nurturing/ healing</li> 
    <li>Blue – calm/wisdom</li>
    <li>Purple – wealth/ ambition</li>
    <li>White – purity/ peace</li> 
    </ul>

    <p>Colors can further be split up into warm and cool – red, orange, and yellow are warm, green, blue, and purple are cool. You can make any color on the color wheel warm or cool depending on how much yellow or blue you add to it! </p>
    <hr>
    <p>To learn more about Cubism, you can visit these other gallery lessons: color wheel, pigmentation, mixing. </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    

    <a href="https://www.colormatters.com/color-and-design/basic-color-theory"> Color Matters</a>
<br>
    <a href="https://www.canva.com/learn/color-theory/">Tips from Canva</a>
<br>
    <a href="https://99designs.com/blog/tips/the-7-step-guide-to-understanding-color-theory/"> 99Designs </a>
   
</div>


    
{% endblock %}