{% extends "header.html" %}

{% block body %}  

<script>
('popoverData').popover();
</script>
<div class="container" >
    <hr>
<h1 style="text-align:center">Cubism</h1>
    <h2 style="text-align: center">A bunch of shapes or something more?</h2>
    
    <img id="main_pic" src="{{ url_for('static', filename='images/picasso.jpg') }}" width="250" height="300">
    
    <hr>
    
    <p>Cubism is an early 20th-century style and movement in art, especially painting, in which perspective of multiple objects was considered, and use was made of simple geometric shapes, interlocking planes, and collage.</p>

    <p>The movement was started by Pablo Picasso and Georges Braque in Paris between 1907 and 1914.</p> 

    <p>The style and influences of Cubism have been linked to Primitivism and non-western sources, like in African art.</p> 

    <p>Cubist painters did not want their art to copy nature or conform to the traditional techniques used during that time. They wanted to emphasize that the canvas could have many dimensions. To do this, they used word geometric forms, shadows, and light, as well as multiple perspective points of the subjects they were painting.</p>

    <p>In 1910, cubism took a turn and the art was then dissected and analyzed for specific figures and objects. This period in Cubist art was known as Analytic Cubism - also called “hermetic” but that’s not super important. </p>

    <p>Common subjects of these paintings were still lifes with musical instruments, bottles, pitchers, glasses, newspapers playing cards, and the human face and figure. </p>

    <p>Cubism set up artists for the following periods of Dada and Surrealism. Cubism was founded on freeing formal rules and breaking concepts. It prompted abstract art and breaking boundaries of what was considered “art.”</p>

    <hr>
    <p>To learn more about Cubism, you can visit these other gallery lessons: Picasso, Braque, Surrealism, perspective, Demoiselles d’Avignon. </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    

    <a href="https://www.metmuseum.org/toah/hd/cube/hd_cube.htm">The Metropolitan Museum of Art</a>
<br>
    <a href="https://www.theartstory.org/movement-cubism.htm">The Art Story</a>
<br>
    <a href="https://www.guggenheim.org/artwork/movement/cubism"> The Guggenheim</a>
    <hr>
</div>

{% endblock %}