{% extends "header.html" %}

{% block body %}
<div class="container" >
    <hr>
<h1 style="text-align:center;">Keith Haring</h1>
     <h2 style="text-align: center">Chalk and subway drawings</h2>
    
    <div style="text-align: center">
    <img src="{{ url_for('static', filename='images/haring.jpg') }}" width="250" height="300">
    </div>
    
    <hr>
    
    <p>Keith Haring was an American artist best known for his pop art and street artwork of figures and symbols. His art often challenged popular opinion, and he became a social activist, using his art as a medium to speak to large amounts of people. Haring was inspired at a young age by his cartoonist father and Walt Disney. Like a few other artists of this time, he attended a higher-level school for commercial art. Eventually, he decided to switch his path to fine art and moved to New York City. This is where he befriended many other artists of the time like Andy Warhol and Basquiat.</p> 

    <p>The New York subways became the gallery walls for Haring’s quick drawings. These art pieces were often spontaneous – his materials consisting of chalk and the blank black advertising spaces. The subjects of his street art included outlines of people, flying saucers, and dogs. Haring produced hundreds of these chalk drawings and often made a show of it by engaging with passersby. He described the subway as a “laboratory” for working out his ideas and experimenting with simple lines. </p>

    <p> Haring had a crazy 9 years of creation between 1980 and 1989 where he started participating in group and solo exhibitions in galleries in New York and all over the world. He completed numerous public projects ranging from animation for billboards in Time square to designing sets and backdrops for theatres to developing watch designs, creating murals, and advertising campaigns. Basically, Haring was the jack of all trades in the art world. </p>

    <p>Something Haring is also well known for is his activism for AIDS. Being diagnosed himself, he made sure to speak out about his illness and create awareness during the epidemic. In 1989, he established the Keith Haring Foundation with the mission being to provide funding and awareness to AIDS organizations and children’s programs, as well as to make his publications and licensing open and available. In 1990, Haring died of AIDS-related complications at the age of 31. While his career as an artist was a whirlwind, he collected many significant accomplishments in the art world. </p>
    <hr>
     <p>To learn more about Cubism, you can visit these other gallery lessons: Picasso, Braque, Surrealism, perspective, Demoiselles d’Avignon. </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    
   
    <a href="http://www.haring.com">Haring's Website</a>
<br>
    <a href="https://www.moma.org/artists/2505">Museum of Modern Art</a>
<br>
    <a href="http://visualaids.org/artists/detail/keith-haring"> Visual Aids</a>
    
    
</div>
    
{% endblock %}