{% extends "header.html" %}

{% block body %}  



<div class="container" >
    <hr>
<h1 style="text-align:center">Impressionism</h1>
    <h2 style="text-align: center">The capturing of a moment</h2>
    
    <div style="text-align: center">
    <img src="{{ url_for('static', filename='images/impression_sunrise.jpg') }}" width="250" height="300">
    </div>
    
    <hr>

    <p>Impressionism is one of the first “distinctly modern” movements that originated in France during the 1860s. The artists during this period were focused on showing the “visual impression” of a moment in time. The paintings were meant to capture a feeling or experience rather than an accurate depiction. When capturing a specific moment in time, there are factors that impact the way things look. Buildings, landscapes, and people all look very different with varying lighting. Shifting effects of light and how it changed color became one of the main focuses of artists of this time. Many left their studios and went outside to the streets or countryside to paint, which was known as painting en plein air.</p>

    <p>The artists that participated in this movement rejected the official or government-sanctioned exhibitions and were ignored by academic art institutions for their “deviance.” (Go Impressionism!) A few of the prominent artist from this period include Monet, Cezanne, Renoir, Degas, and Manet.</p> 

    <p>Brushwork became loose, and colors became brighter to better mimic the fast pace of life happening before the eye of the artist. These paintings were mostly created with oil paint to help show depth within the paintings. However, the introduction to synthetic paints helps to create some of the vivid colors seen in the Impressionists’ paintings. The resulting works often ended up looking unfinished and sketch-like when the artist was actually finished.</p>

    <p>Impressionism made way for artists to continue to experiment with the subject of their paintings. Post-impressionism brought way to artists like Van Gogh, Gauguin, Matisse, Seurat and many more - all who continued to push boundaries for what was and was not “acceptable” in the art world. </p>
 
    <p>To learn more about this movement you can visit these other gallery lessons: Monet, Manet, Renoir, Degas, Post Impressionism.</p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information!</p>

    

    <a href="https://www.theartstory.org/movement-impressionism.htm ">The Art Story</a>
<br>
    <a href="https://www.metmuseum.org/toah/hd/imml/hd_imml.htm ">The Met Museum</a>
<br>
    <a href="http://www.artmovements.co.uk/impressionism.htm "> Art Movements</a>
   
</div>

{% endblock %}