<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
      <!-- Local Bootstrap CSS -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
      
      <!-- Custom Style -->
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style.css') }}">
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="{{url_for('static', filename='images/approachableart.png')}}" width="65" height ="50">
      
      <!-- Material Design Icon -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      
    <title>Approachable Art</title>
      
      <!-- Modal Initialization -->
      
      
      <script>
      $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').trigger('focus')
            })
      </script>
      
  
      
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128138146-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128138146-1');
    </script>

      
  </head>
  <body>
      
    
   
       <!-- Nav Bar -->
      

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <a class="navbar-brand" href="/"> <img src="{{ url_for('static', filename='images/approachableart.png') }}" width="50" height="48" class="d-inline-block align-top" alt="site logo"></a>
          
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="material-icons">home</i> Architecture <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
          
          {% if session.logged_in %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">palette</i>Profile</a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/dashboard/">Dashboard</a>
                <a class="dropdown-item" href="/logout/">Logout</a>
            </div>
          {% else %}
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#"><i class="material-icons">palette</i>Profile</a>
        </li>
          {% endif %}
    {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/googleimg/"><i class="material-icons">web</i>Gallery</a>
      </li>
    {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/about/"><i class="material-icons">explore</i>Details</a>
      </li>
   <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
      <a href="/random/"><button id="nav_button" class="btn btn-sm btn-outline-secondary" type="button">Random!</button></a>
  </form>
</nav>
    </ul>
  </div>
</nav>
      

      
      <div style="text-align:center">
      <img class = "center-block;" src="{{ url_for('static', filename='images/approachableart.png') }}" width="264" height="275">
      </div>
     
      

<!-- Pinterest Code -->
<style>
     @media (min-width: 26em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
      @media (min-width: 38em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

    .button{
        align-items: center;
    }
      
</style>
      

<div class="container-fluid">
     <div class="card-columns">
      <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>"There are no mistakes, only happy accidents."</p>
      <footer class="blockquote-footer">
        <small>
           <cite title="Source Title">Bob Ross</cite>
        </small>
      </footer>
        <button type="button" class="btn btn-warning"><a href="/bobRoss/">Read more!</a></button>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/impressionism.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Impressionism</h5>
      <p class="card-text">A movement in painting that originated in France and was charaterized by effects of light and color.</p>
        <button type="button" class="btn btn-warning"><a href="/impressionism">Read more!</a></button>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/modern.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Modern</h5>
      <p class="card-text">This period of art encompasses a large period of time ranging from the 1860s to the 1970</p>
        <button type="button" class="btn btn-warning"><a href="/modern/">Read more!</a></button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cubism</h5>
        <img class="card-img" src="{{ url_for('static', filename='images/picasso.jpg') }}" alt="Card image">
        <hr>
      <p class="card-text">The movement was started by Pablo Picasso and Georges Braque in Paris between 1907 and 1914. </p>
      <button type="button" class="btn btn-warning"><a href="/cubism/">Read more!</a></button>
      </div>
  </div>
          
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>"The best reason to paint is that there is no reason to paint."</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          <cite title="Source Title">Keith Haring</cite>
        </small>
      </footer>
        <button type="button" class="btn btn-warning"><a href="/Haring/">Read more!</a></button>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/colortheory.png') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Color Theory</h5>
      <p class="card-text">I am sure you learned this in elementary school art class, you just didn't know it.</p>
      <button type="button" class="btn btn-warning"><a href="/colorTheory/">Read more!</a></button>
      </div>
  </div>
     <div class="card">
    <img class="card-img-top" src="{{ url_for('static', filename='images/pollock.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jackson Pollock</h5>
      <p class="card-text">An American painter and major figure of the abstract expressionist movement, well known for his unique drip paintings. </p>
        <button type="button" class="btn btn-warning"><a href="/pollock/">Read more!</a></button>
    </div>
  </div>   
  <div class="card text-left">
    <img class="card-img-top" src="{{ url_for('static', filename='images/principles of design.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Principles of Design</h5>
      <p class="card-text">Rules that describe fundamental ideas about the practices and tools of visual design.</p>
      <button type="button" class="btn btn-warning"><a href="/principles/">Read more!</a></button>
      <br>
    </div>
  </div>
    <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>"You don't take a photograph, you make it."</p>
      <footer class="blockquote-footer">
        <small>
           <cite title="Source Title">Ansel Adams</cite>
        </small>
      </footer>
        <button type="button" class="btn btn-warning"><a href="/anselAdams/">Read more!</a></button>
    </blockquote>
  </div>
  </div>
      </div>
      
    
  
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please login or register a new account!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <h4>Login</h4>
        <br>
        <form action="#" method="post">
          <input type="text" class="form-control" placeholder="User Name" name="username" value="{{request.form.username}}">
            &nbsp;
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
            <br>
            <input type="submit" class="btn btn-default" value="Login">
            <br>
          </form>
          <br>
          <code>{{error}}</code>
          <br>
          <h5>Register a new account!</h5>
          <p>Click here to be redirected to our <a href="/register/">registration page!</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      
<!-- Footer -->

<footer class="pt-4 my-md-5 pt-md-5 border-top" style="margin-left:2%;margin-right:2%;">
  <div class="row">
    <div class="col-12 col-md">
      <img src="{{ url_for('static', filename='images/approachableart.png') }}" width="50" height="48" class="d-inline-block align-top" alt="site logo"><p>This is a project developed for the students of Penn State Behrend in DIGIT 400.</p> <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/">Home</a></li>
        <li><a class="text-muted" href="/profile/">Profile</a></li>
        <li><a class="text-muted" href="/googleimg/">Gallery</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Dashboard</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/dashboard/">Dashboard</a></li>
        <li><a class="text-muted" href="/login/">Login</a></li>
        <li><a class="text-muted" href="/logout/">Logout</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/about/">About</a></li>
        <li><a class="text-muted" href="/contact/">Contact</a></li>
        <li><a class="text-muted" href="/forum/">Forum</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer><!--END Footer-->
      
      
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>