{% extends "header.html" %}

{% block body %}
<div class="container" >
    <hr>
<h1 style="text-align:center;">Modern</h1>
     <h2 style="text-align: center">An era of experimentation</h2>
    
    <div style="text-align: center">
    <img src="{{ url_for('static', filename='images/modern.jpg') }}" width=auto height=auto>
    </div>
    
    <hr>
    
    <p>Modern art is one of the longest artistic periods and includes work from about 1860 to 1970. This movement is often characterized by its artists throwing tradition to the wind in favor of something new and exciting – it was an era of exploration and experimentation. The industrial revolution is looked at as the turning point that led to this movement. A lot was changing in the world, with the most significant change in different modes of transportation and the increase in industrial jobs in cities. With the introduction of Sigmund Freud’s, The Interpretation of Dreams, became the popular theme of exploring ones’ dreams and subconscious in their creations. Art started changing with the times and became a reflection of artists everyday lives and experiences. </p>

    <p>Before this period, most art was commissioned by wealthy people or institutions, like the church or government. These paintings were almost always of religious or mythological scenes that told a story. Then art moved to somewhat realistic standards. In order to challenge everything that came before, artists explored the excessive use of color, non-traditional materials, and new techniques and materials.</p> 

    <p>There are many subcategories that fall under Modernism that explore different avenues of techniques and mediums. The movement starts with Impressionism and makes some twists and turns through Fauvism to Expressionism then to cubism and surrealism and finally, abstract expressionism. And if you can believe it, a few of these movements can be broken down even further into their own themes and movements. </p>

    <p>Modern art and Contemporary art can sometimes get confusing, especially where the one ends and other begins. Contemporary art started with the idea of Pop Art and is still continuing today.</p>
    
     <hr>
    <p>To learn more about Modern art, you can visit these other gallery lessons: Impressionism, Contemporary, Fauvism, Expressionism. </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    

    <a href="https://mymodernmet.com/what-is-modern-art-definition/2/ ">My Modern Met</a>
<br>
    <a href="https://www.moma.org/learn/moma_learning/themes/what-is-modern-art/ ">Museum of Modern Art</a>
<br>
    <a href="https://www.theartstory.org/definition-modern-art-history-and-concepts.htm "> The Art Story</a>
    
</div>
    
{% endblock %}