{% extends "header.html" %}

{% block body %}  



<div class="container" >
    <hr>
<h1 style="text-align:center">Jackson Pollock</h1>
    <h2 style="text-align: center">What is drip painting anyway?</h2>
    
    <div style="text-align: center">
    <img src="{{ url_for('static', filename='images/pollock.jpg') }}" width="250" height="300">
    </div>
    
    <hr>
    
    
    <p>Paul Jackson Pollock, who predominately goes by his middle name Jackson, was an American painter who rose to fame during the Abstract Expressionist Movement. You have probably seen his work before, you know those cool drip paintings? That’s Pollock. </p>

    <p>In 1936, Pollock was introduced to the use of liquid paint by David Alfaro at an experimental workshop in New York City. His paint pouring experiments eventually turned into his famous drip techniques. This technique came completely together when Pollock laid out his canvases on the studio floor. He did this so that he could quickly move around the canvas and reach all sides. </p>

    <p>This is what became known as Pollock’s “Drip Period” and occurred between 1947 and 1950. The dripping and throwing of paint can be put into the category of “Action Painting,” which was a big part of the abstract expressionist movement. Unlike most great artists, Pollock was recognized for his new technique and was posed to be the greatest living painter in the United States. However, at the peak of his fame, he abandoned his drip style. </p>

    <p>The next movement of Pollock’s life became dark in color with black canvases and moodiness. Followed by yet again, another colorful period. </p>

    <p>While Pollock was fairly famous and well-known throughout his career, yet he was mostly a recluse. His wife was a huge support and proponent to his career, being an artist herself. His personality was known as aggressive, and he struggled with alcoholism for years. He lived a hard and fast life, dying from an alcohol-related car accident at the age of 44.</p>

    <p>To learn more about this movement you can visit these other gallery lessons: Action Painting, Abstract Expressionism, Modern </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>

    

    <a href="https://www.jackson-pollock.org/biography.jsp ">Jackson Pollock Biography</a>
<br>
    <a href="https://www.moma.org/artists/4675 ">The Museum of Modern Art</a>
<br>
    <a href="https://www.tate.org.uk/kids/explore/who-is/who-jackson-pollock "> The Tate Museum </a>
   
</div>

{% endblock %}