{% extends "header.html" %}

{% block body %}

<style>
    iframe {
   display: block;
   margin: 0 auto;
}
</style> 

<div class="container" >
    <hr>
<h1 style="text-align:center;">Principles of Design</h1>
     <h2 style="text-align: center">There are rules in art?</h2>
    
    <div class="container">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/ZK86XQ1iFVs" frameborder="15em" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <hr>
    
    <p>The principles of design are defined as ways artists use elements of art in a work of art. These terms are very much related to each other and work together. Here are a list of the terms and the way artists can use them! These terms can differ from artist to artist, some artists might not use all of these terms, or some may have these terms under others on the list.</p>
    
<ul>
    <li>Balance – the scale of the visual weight of different parts of a painting. The different aspects that can have “balance” include objects, colors, texture, and space. There are two types of balance:</li>
<ul>
    <li>Symmetrical – the “things” used on one side of the painting or picture are similar to the ones on the other side</li>
    <li>Asymmetrical – the “things” on each side are different but still look balanced</li>
 </ul> 
    <li>Emphasis – catches the viewer’s attention. This can be done by making one area stand out by contrasting it with other areas or creating difference in size, color, texture, shape, etc.</li> 
    <li>Movement – path the viewer’s eye takes when looking at a piece of art. Artists use lines, edges, shape, and color to direct the eye. </li>
    <li>Pattern – the repeating of a “thing” in a piece of art and makes the art look like its moving. This repeating also creates unity throughout the work.</li>
    <li>Proportion – when the parts of a painting or picture work well with each other through size, amount, or number. </li>
    <li>Rhythm – when one or more elements of design are used repeatedly to create a feeling of organized movement. </li>
    <li>Variety – use of several elements of design to hold the viewer’s attention </li>
    <li>Unity – feeling of agreement between all parts of the work of art, which creates a sense of completeness. </li>
    </ul>

     <p>Colors can further be split up into warm and cool – red, orange, and yellow are warm, green, blue, and purple are cool. You can make any color on the color wheel warm or cool depending on how much yellow or blue you add to it! </p>
    
    <hr>
    <p>To learn more about Cubism, you can visit these other gallery lessons: Color Theory, Design Theory </p>

    <p>To expand your knowledge outside of Approachable Art’s website, visit these following websites that contain even more information! </p>
    

    <a href="https://www.thoughtco.com/principles-of-art-and-design-2578740"> Thought Company </a>
<br>
    <a href="https://en.wikibooks.org/wiki/Graphic_Design/Principles_of_Design">WikiBooks: Principles of Design</a>
<br>
    <a href="http://www.artsalive.ca/collections/imaginedspaces/index.php/en/learn-about/elementsandprinciples/principles-of-design">Arts Alive</a>
   
    
    
</div>
{% endblock %}